@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(226, 226, 226);
}

header { 
    height: 100vh;
    background: url("../images/ogabout.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container{
    max-width: 400px;
}

.opener{
    color: rgb(221, 221, 221);
    display: flex;
    text-align: center;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    letter-spacing: .19rem;
    line-height: 2em;
}

.text-header{
    padding: 100px 0;
}

.text-header h1{
    font-size: 2.1rem;
    font-weight: bolder;
    padding: 40px;
    line-height: 1.5em;
}

.text-header img{
    width: 100px;
    border-radius: 50%;
}


/*scroll to bottom*/
.arrow {
    border: solid rgb(53, 53, 53);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    margin: 50px 0;
    transition: transform .5s;
  }

  .arrow:hover{
     transform: scale(1.5);
  }
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
html {
    scroll-behavior: smooth;
   }
   
   a {
    text-decoration: none;
    color: black;
   } 
   
   #down {
    margin-top: 20vh;
    padding-bottom: 25%;
   } 

/*first text*/
.about .container{
    display: flex;
    padding: 50px 0;
    flex-direction: column;
    margin: 0 auto;
}

.text-wrapper{
    font-size: 1.1rem;
    line-height: 4vh;
    padding: 20px 0;
}

.about img{
    padding: 30px 0;
    width: 100%;
    border-radius: 6%;
}

/*second text*/



/*footer*/
footer{
    padding: 20px;
    background: rgb(6, 6, 6);
    color: rgb(233, 233, 233);
}

.socials a{
    text-decoration: none;
    color: aliceblue;
}

.socials a:hover{
    color: rgb(206, 209, 211);
}

.copyright{
    display: flex;
    justify-content: center;
}

.socials{
    display: flex;
    justify-content: center;
}

.socials i{
    padding: 20px;
    font-size: 1.6rem;
}

/*bigger screens*/
@media only screen and (min-width: 768px){
    .container{
        max-width: 800px;
    }

    .about img{
        padding: 30px 0;
        width: 90%;
        border-radius: 2%;
    }

    .second-txt{
        max-width: 50%;
    }
    .side-by-side{
        display: flex;
    }
}
