@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(235, 235, 235);
}

header { 
    height: 100vh;
    background: url("../images/ogmonks.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.container{
    max-width: 400px;
}


.opener{
    color: rgb(221, 221, 221);
    display: flex;
    text-align: center;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    letter-spacing: .19rem;
    line-height: 2em;
}

.text-header h1{
    font-size: 2.1rem;
    font-weight: bolder;
    padding: 40px;
    line-height: 1.5em;
}

/*youtube section */
.youtube-sec .container{
    display: flex;
    padding: 50px 0;
    flex-direction: column;
    margin: 0 auto;
}

.youtube-vid {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }
.youtube-vid iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.youtube-text{
    padding: 30px 0;
    line-height: 1.8em;
    letter-spacing: .05rem;
    font-size: 1rem;
}

.youtube-sec a{
    text-decoration: none;
}

.youtube-sec button{
    background-color: rgb(6, 6, 6);
    color: rgb(238, 238, 238);
    padding: 15px 25px;
    display: block;
    margin: 20px auto;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: bold;
    transition: background-color 200ms;
}
.youtube-sec button:hover{
    background-color: rgb(18, 18, 18);
}

/*podcasts*/

.casts{
    background-color: rgb(209, 209, 209);
    margin: 15px auto;
    padding: 30px 20px;
    border-radius: 5px;
}

.casts audio{
    width: 50vh;
}

.casts h4{
    font-size: .9rem;
    padding: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* counter */

.counter {
    margin: 10 auto;   
}

/*footer*/
footer{
    padding: 20px;
    background: rgb(6, 6, 6);
    color: rgb(233, 233, 233);
}

.socials a{
    text-decoration: none;
    color: aliceblue;
}

.socials a:hover{
    color: rgb(206, 209, 211);
}

.copyright{
    display: flex;
    justify-content: center;
}

.socials{
    display: flex;
    justify-content: center;
}

.socials i{
    padding: 20px;
    font-size: 1.6rem;
}


/*bigger screens*/
@media only screen and (min-width: 768px){
    .container{
        max-width: 800px;
    }

    .casts audio{
        width: 90%;
    }

}
