@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(235, 235, 235);
}

header { 
    height: 100vh;
    background: url("../images/ogpodcast.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.container{
    max-width: 90%;
}


.opener{
    color: rgb(221, 221, 221);
    display: flex;
    text-align: center;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    letter-spacing: .19rem;
    line-height: 2em;
}

.text-header h1{
    font-size: 2.1rem;
    font-weight: bolder;
    padding: 40px;
    line-height: 1.5em;
    
}

.text-header h2{
    border-bottom: 1px dotted rgb(228, 228, 228);
    width: 200px;
    margin: 0 auto;
}

.opener ul{
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.opener li{
    list-style: none;
    border-bottom: 1px dotted rgb(228, 228, 228);
    padding: 10px;
}

/*scroll to bottom*/
.arrow {
    border: solid rgb(53, 53, 53);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    margin: 50px 0;
    transition: transform .5s;
  }

  .arrow:hover{
     transform: scale(1.5);
  }
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
html {
    scroll-behavior: smooth;
   }
   
   a {
    text-decoration: none;
    color: black;
   } 
   
   #down {
    margin-top: 20vh;
    padding-bottom: 25%;
   } 


/*podcasts*/

.casts{
    background-color: rgb(209, 209, 209);
    margin: 15px auto;
    padding: 30px 20px;
    border-radius: 5px;
    width: 100vw;
}

.casts audio{
    width: 75vw;
}

.casts h4{
    font-size: .9rem;
    padding: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.casts h1{
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border-bottom: 1px dotted black;
    width: 250px;
}

/*footer*/
footer{
    padding: 20px;
    background: rgb(6, 6, 6);
    color: rgb(233, 233, 233);
}

.socials a{
    text-decoration: none;
    color: aliceblue;
}

.socials a:hover{
    color: rgb(206, 209, 211);
}

.copyright{
    display: flex;
    justify-content: center;
}

.socials{
    display: flex;
    justify-content: center;
}

.socials i{
    padding: 20px;
    font-size: 1.6rem;
}
